.about {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0, 0, 0);
  color: white;
  padding: 60px 20px;
  overflow: hidden;
  height: 80vh;
  width: 100%;
}

.about-content {
  height: 80%;
  width: 60%;
  text-align: center;
  z-index: 2;
  
}


.about-animation {
  position: absolute;
  right: 8%;
  bottom: 30%;
  width: 220px;
  height: 220px;
  opacity: 0.9;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}


.about-content span{
  color: #c49b63;

}

.about-content p{
  margin-top: 40px;
  padding: 20px;
  line-height: 1.8;
  font-size: 18px;
  font-weight: 500;
}
