.about {
  width: 100%;
  min-height: 70vh;
  background-color: rgb(0, 0, 0);
  color: white;
  display: flex;
  justify-content: center; /* centers center div */
  align-items: flex-start;
  padding: 60px 20px;
  gap: 20px; /* space between the three divs */
}


.about-content {
  flex: 2; /* bigger than side divs */
  max-width: 900px;
  text-align: center;
  margin-top: 40px;
  background-color: #000000;
}

.about h1 {
  font-size: 2.7rem;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.about span {
  color: #c49b63;
}

.about p {
  font-size: 1.05rem;
  font-weight: 300;
  line-height: 1.8;
  color: #ddd;
  margin-bottom: 25px;
}

.about p:last-child {
  margin-bottom: 0;
}
