.textSection{
    height: 30vh;
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #000;
    color: white;
}