.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.2rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  z-index: 1000;
}

.logo {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
}
.logo:hover {
  color: #c49b63; 
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #c49b63; 
  cursor: pointer;
}
